@keyframes animHaut {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: translateY(5px);
	}
}

@keyframes animBas {
	0% {
		opacity: 0;
		transform: translateY(120px);
	}

	100% {
		opacity: 1;
		transform: translateY(60px);
	}
}

@keyframes animOpacite {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0.6;
	}
}

.menu-entete_atelier-container{
    .menu{
        display: flex;
        justify-content: space-between;
        background-color: black;

        .menu-item{
            display: flex;
            flex-direction: column;
            border: 2px solid yellow;
            height: auto;
            margin: 10px;

            a{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 10px;
                .title{
                    display: none;
                    font-size: 1.2rem;
                }

                .description{
                    display: none;
                    font-size: 0.8rem;
                }

                .menu-thumbnail{
                    display: block;
                    width: 150px;
                }
            }
        }

        .menu-item:hover{
            .title{
                z-index: 10;
                display: block;
                position: absolute;
                align-self: center;
                width: 160px;
                animation: animHaut 1s ease-in-out 0s 1 normal forwards;
            }

            .description{
                z-index: 10;
                display: block;
                position: absolute;
                align-self: center;
                width: 160px;
                animation: animBas 1s ease-in-out 0s 1 normal forwards;
            }

            .menu-thumbnail{
                animation: animOpacite 1s ease-in-out 0s 1 normal forwards;
            }
        }
    }
}