.menu-entete_atelier-container{
    .menu{
        display: flex;
        justify-content: space-between;
        background-color: black;

        .menu-item{
            display: flex;
            flex-direction: column;
            border: 2px solid yellow;
            height: auto;
            margin: 10px;

            a{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 10px;
                .title{
                    font-size: 1.5rem;
                }
                .description{
                    font-size: 0.8rem;
                }
                .menu-thumbnail{
                    display: block;
                    width: 150px;
                }
            }
        }
    }
}